<section id='donor'>
    {% load static %}
    <div class="container">
        <div class="row align-items-center flex-md-row-reverse">
            <div class="col-md-6 ">
                <img class="img-fluid " src="{% static 'img/B_1.png' %}" alt="">
            </div>
            <div class="col-md-6">
                <div class=" ms-md-5 ps-3">
                    <h1 class='display-4'>Become a <span class="text-success">Blood Donor</span> </h1>
                    <h6 class="text-muted mb-4">If you are completely new to blood donation Register now..</h6>

                    <button type="button" class="btn btn-primary me-2 py-2 btn-sm mb-2 " data-bs-toggle="modal" data-bs-target="#sign_up_modal">
                        Donate Now <i class="fa fa-heart   ms-1 "></i>
                    </button>
                    <a type="button" class="btn btn-outline-primary me-2 py-2 btn-sm mb-2 " data-bs-toggle="modal" data-bs-target="#donor_list_modal">
                        Search Donor <i class="fa fa-search   ms-1 "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>   