<section class='my-5'>
    {% for c in current_committee %} 
        <div class="container text-center">
        <h6 class='_section_title'>our TEAM</h6>
        <h2 class='font-weight-bold py-2'>Our Hardworking <span class='text-success'>Team</span> </h2>
        <h6 class='pb-3 text-muted'> Executive Committee ({{c.session}})</h6>
        <div class="row g-5 justify-content-around">
            <div class="col-10 ">
                <div class="owl-carousel owl-theme owl-loaded tm-dv ">
                    {% for member in members %}
                        {% if member.session.session == c.session %}
                            <div class='card border-0 my-3 shadow-lg rounded _cursor_pointer'>
                                <img src="{{member.image.url}}" class="card-img-top w-50 _img_border rounded-circle mt-3 mx-auto " alt="...">
                                <div class="card-body text-center">
                                    <h6 class="card-title my-1">{{member.name}}</h6>
                                    <small class="card-text d-block text-muted">{{member.position}}</small>
                                <small class="card-text d-block text-muted">({{member.session}})</small>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</section> 