{% extends '../base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock title %}

{% block body %}

<section >
    <div class="container">
        <div class="row min-vh-100 align-items-center ">
            <div class="col-md-6 ">
                <div class="_header_text ps-3">
                    <small class="text-muted ">Welcome to <strong>Social Service Club</strong></small>
                    <h1 class="display-2 pb-2">We're <span class='text-success'> NEUB'ians</span></h1>
                    <h5 class="pb-4 text-muted ">
                        We are team of Social Volunteer from NEUB
                    </h5>
                    <button type="button" class="btn btn-primary me-2 px-3 py-2 mb-2 " data-bs-toggle="modal" data-bs-target="#sign_up_modal">
                        Join us <i class="fa fa-arrow-circle-right   ms-1 "></i>
                    </button>
                    <a href="/about/" class="btn btn-outline-primary p-2 mb-2 ">Learn more <i class="fa fa-info-circle     ms-1 "></i></a>

                </div>
            </div>
            <div class="col-md-6 py-3">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid w-75 mx-auto" src="{% static 'img/h_1.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'home/about.html' %}
{% include 'home/services.html' %}
{% include 'home/blood_donor.html' %}
{% include 'home/committee_slider.html' %}



{% endblock body %}



