<section class=" my-5" id='Services'>
    <div class="container">
        <div class='text-center'>
            <h6 class='_section_title'>SERVICES</h6>
            <h2 class='font-weight-bold py-2'>Our <span class='text-success'>Services</span> </h2>
            <h6 class='pb-3 text-muted'> What are we doing... </h6>

            <div class="row ">

                <div class='col-lg-3 col-md-6 my-3'>
                    <div class='_card '>
                        <i class='bx bx-donate-blood _card_icon pt-5'></i>
                        <div class='card-body'>
                            <h5 class='card-title _card_title '>Blood Donation </h5>
                            <p class='card-text _card_detail pb-5'>We manage blood for Humanity.
                                “Bring a life back to power. Make blood donation your
                                responsibility”. Blood donation will cost you nothing, but it will save life.
                            </p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 my-3'>
                    <div class='_card '>
                        <i class='bx bxl-spring-boot _card_icon pt-5'></i>
                        <div class='card-body'>
                            <h5 class='card-title _card_title '>Help with relief materials</h5>
                            <p class='card-text _card_detail pb-5'>Now is the time of the epidemic. Many people in
                                our country especially day laborers, are suffering a lot. So we tried our best to
                                help them in our way.</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 my-3'>
                    <div class='_card '>
                        <i class='bx bx-closet _card_icon pt-5'></i>
                        <div class='card-body'>
                            <h5 class='card-title _card_title '>Provide winter clothing</h5>
                            <p class='card-text _card_detail pb-5'>We students can't help with money a lot of time
                                but if we give them old clothes, lotuses which are not commonly used, they will have
                                less trouble in winter.</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 my-3'>
                    <div class='_card '>
                        <i class='bx bx-book-reader _card_icon pt-5'></i>
                        <div class='card-body'>
                            <h5 class='card-title _card_title '>Help the poor student in university</h5>
                            <p class='card-text _card_detail'>In this epidemic time if any student of our
                                university face financial problem, we are here to solve his problem. We help him
                                from our fund. He/She can continue the semester. </p>
                        </div>
                    </div>
                </div>


            </div>

            {% comment %} <div class="row ">

                <div class='col-lg-3 col-md-6 my-3'>
                    <div class='_card '>
                        <i class='bx bx-donate-blood _card_icon pt-5'></i>
                        <div class='card-body'>
                            <h5 class='card-title _card_title '>Blood Donation </h5>
                            <p class='card-text _card_detail pb-5'>We manage blood for Humanity.
                                <br />
                                “Bring a life back to power. Make blood donation your
                                responsibility”
                            </p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 my-3'>
                    <div class='_card '>
                        <i class='bx bxl-spring-boot _card_icon pt-5'></i>
                        <div class='card-body'>
                            <h5 class='card-title _card_title '>Help with relief materials</h5>
                            <p class='card-text _card_detail pb-5'>Now is the time of the epidemic. Many people in
                                our country especially day laborers, are suffering a lot. So we tried our best to
                                help them in our way.</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 my-3'>
                    <div class='_card '>
                        <i class='bx bx-closet _card_icon pt-5'></i>
                        <div class='card-body'>
                            <h5 class='card-title _card_title '>Provide winter clothing</h5>
                            <p class='card-text _card_detail pb-5'>We students can't help with money a lot of time
                                but if we give them old clothes, lotuses which are not commonly used, they will have
                                less trouble in winter.</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-3 col-md-6 my-3'>
                    <div class='_card '>
                        <i class='bx bx-book-reader _card_icon pt-5'></i>
                        <div class='card-body'>
                            <h5 class='card-title _card_title '>Help the poor student in university</h5>
                            <p class='card-text _card_detail pb-5'>In this epidemic time if any student of our
                                university face financial problem, we are here to solve his problem. We help him
                                from our fund. He/She can continue the semester. </p>
                        </div>
                    </div>
                </div>


            </div> {% endcomment %}
            
        </div>
</section> 