{% extends '../base.html' %}

{% load static %}
{% block title %}
Records
{% endblock title %}

{% block body %}

<section >
    <div class="container _section_top">
        <article class='text-center my-5 shadow p-md-5 p-2'>
            <h2 class=''>Receive our honorable <span class='text-success'>Vice Chancellor</span> </h2>
            <h6 class='text-muted'>Receiving our honorable chancellor Professor Dr.Md. Elias Uddin Biswas </h6>
            <div class="row mt-4 g-3 justify-content-center align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/recieve chairman/chairman-1.png' %}" alt="">
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/recieve chairman/chairman-2.png' %}" alt="">
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/recieve chairman/chairman-2.png' %}" alt="">
                </div>

            </div>
        </article>

        
        <article class='text-center my-5 p-md-5 shadow p-2'>
            <h2 class=''>Provide <span class='text-success'>Relief Materials</span> </h2>
            <h6 class='text-muted'>We try to bring a little relief to the lives of the poor and helpless people around us with relief materials</h6>
            <div class="row mt-4 g-3 justify-content-center align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/1.png' %}" alt="">
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/2.png' %}" alt="">
                </div>
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/3.png' %}" alt="">
                </div>
  
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/4.png' %}" alt="">
                </div>
  
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/5.png' %}" alt="">
                </div>
  
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/6.png' %}" alt="">
                </div>
  
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/7.png' %}" alt="">
                </div>
  
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/8.png' %}" alt="">
                </div>
  
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/relief-goods/9.png' %}" alt="">
                </div>
  

            </div>
        </article>

        <article class='text-center my-5 p-md-5 shadow p-2'>
            <h2 class=''>Provide <span class='text-success'>Winter Cloth</span> </h2>
            <h6 class='text-muted col-sm-8 mx-auto'>The best way to not feel hopeless is to get up and do something. Don’t wait for good things to happen to you. If you go out and make some good things happen, you will fill the world with hope, you will fill yourself with hope</h6>
            <div class="row mt-4 g-3 justify-content-center align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/provide winter cloth/1.png' %}" alt="">
                </div>
                
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/provide winter cloth/2.png' %}" alt="">
                </div>
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/provide winter cloth/3.png' %}" alt="">
                </div>
  
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class='w-100' src="{% static '/img/records/provide winter cloth/4.png' %}" alt="">
                </div>
  

            </div>
        </article>

        



    </div>
</section>




{% endblock body %}