{% load static %}
    <footer class="pt-3 mt-3" id='footer'>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 footer-contact">
                        <img src="{% static 'img/logo.png' %}" alt="" class="img-fluid pb-3" />
                        <p>
                            Sheikhghat-Kazirbazar Road, Sylhet<br />
                            Bangladesh <br /><br />

                            <strong>Phone:</strong> +8801735708642<br />
                            <strong>Email:</strong> neubsocialserviceclub@gmail.com<br />
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4 class="_footer_link_title">Useful Links</h4>
                        <ul class="_footer_list">
                            <li class="_footer_list_item">
                                <i class="bx bx-chevron-right"></i>
                                <a href="#home">Home</a>
                            </li>
                            <li class="_footer_list_item">
                                <i class="bx bx-chevron-right"></i>
                                <a href="#about">About us</a>
                            </li>
                            <li class="_footer_list_item">
                                <i class="bx bx-chevron-right"></i>
                                <a href="#services">Services</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4 class="_footer_link_title">Why WE?</h4>
                        <ul class="_footer_list">
                            <li class="_footer_list_item">
                                <i class="bx bx-chevron-right "></i>
                                <a href="#">We Work For Humanity</a>
                            </li>
                            <li class="_footer_list_item">
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">We work from our beloved university</a>
                            </li>
                            <li class="_footer_list_item">
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Work is our passion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center pt-3">
                <small class="copyright py-1">
                    <strong><span>NEUBSSC</span></strong>. All Rights Reserved - Developed by  <a href="#" class="_copyright_credit text-primary"> Sajib Sutradhar</a>
                </small>
        </div>
    </footer>
    
